{% extends "base_generic.html" %}
    {% block content %}

    <div class="card">
        <div><a  class="button" href="{%url 'feedpost_new' %}">Create a new Feed Post</a></div>
    </div>

    <!-- this is where the feed posts will be amalgomated and rendered. -->
    <div class="container" style = "padding-left: 15%;padding-right:15%;padding-top:3%;padding-bottom:10%;">
        <!-- this for loop loops through everything in the feedpost list and puts the text field into the template below -->
        {% for post in feedpost_list %}
        <!-- Left-aligned media object -->
        <div style="padding-bottom:5%;">
            <div class="media" >
                <div class="media-left media-top">
                    <img src="http://127.0.0.1:8000/pawpular/{{post.createdBy.image}}" class="media-object rounded" style="width:70px">
                </div>
                <div class="media-body">

                    <h4 class="media-heading" style="padding-top:2%;"><a href="{{post.createdBy.get_absolute_url}}"> {{post.createdBy.fname}} {{post.createdBy.lname}} </a><!--span class="badge badge-secondary">New</span--></h4>
                    <p>{{post.title}}</p>   
                    <p>{{post.text}}</p>    
                    <p>{{post.image}}</p>
                    <p>{{post.post}}</p>                                        
                    <p style = "color:blue">{{post.createdOn}}</p>
            
                    <button type="button" class="btn btn-primary">Like</button>
                    <!--button type="button" class="btn btn-secondary">Hate</button-->
                    <button type="button" class="btn btn-success">Comment</button>
            
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<style>
    h1.title{
        margin: auto;
        text-align:center;
    }
    div.media{
        padding-top:1%;
        padding-left:1%;
        padding-bottom:5%;border:solid .5px;border-radius: 5px;
    }
    div.media-body{
        padding-bottom: 0%;
    }
    img{
        margin-right:20px;
        margin-left:5px;
        padding:2px;
        
    }
</style>
{% endblock %}



