<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>


<body style="background-color: #939393;">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pawpular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="{% url 'map' %}">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat' %}">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card">

        <div id="map" style="width:100%;height:90%;margin-top:1%;margin-bottom:1%"></div>

    </div>


    
    <script>
        var map;
        var icon;
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(42.389440, -72.526371),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            
            icon = {
                url: "https://image.flaticon.com/icons/svg/60/60995.svg", // url
                scaledSize: new google.maps.Size(33, 33), // scaled size
                origin: new google.maps.Point(0,0), // origin
                anchor: new google.maps.Point(0, 0) // anchor
            };


            //ignore the errors this generates. trust me it works!
            {% for post in mappost_list %}
            var catloc = new google.maps.LatLng({{post.latitude}}, {{post.longitude}});
            var marker1 = new google.maps.Marker({
                position: catloc,
                icon: icon,
                map: map,
                title: 'title'
            });


            addInfoWindow(marker1, 
            
            
                        "<img src=\"{{post.imageUrl}}\" width = 450px alt='1'>\
                        <h3>{{post.title}} - <a style=\"color:purple;\">{{post.createdBy.fname}} {{post.createdBy.lname}}</a></h3>\
                        <p>{{post.text}}</p>"
                                
                                
                                
                        );
            {% endfor %}

            
                
            // google.maps.event.addListener(map, 'click', function(event) {
            //     placeMarker(event.latLng);
            // });
                
            // setMarkers(map);
        }
            
        function addInfoWindow(marker, content){
            var infoWindow = new google.maps.InfoWindow({
                content: content
            });
                
            google.maps.event.addListener(marker, 'click', function () {
                infoWindow.open(map, marker);
            });
        }
            
        function placeMarker(location) {
            if(confirm("Confirm Marker?")) {
                var marker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon:icon
                });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>

</body>
</html>