{% extends "base_generic.html" %}
    {% block content %}
        <div style="padding-left:30%;padding-right:30%;padding-top:2.5%;padding-bottom:5%;">
            <header style="padding-bottom:1.5%;">
                <h1>Profile page</h1>
            </header>

            <div >
                
                    <img src="http://127.0.0.1:8000/pawpular/uploads/{{user.profile.image}}" class="rounded" height = "350px" width="300px">
                    <div class="card-body">
                    <h2 class="card-title">{{user.first_name}} {{user.last_name}}</h2>
                    <h3>{{user.email}}</h3>
                    </div>

            </div>

            <hr>
            <br>

            <!--
                will need a for loop for this one
                if i were to imagine how this would go.../
                    the for loop would access all of ryan's pets (the one to many relationship)
                    and place them into the following paragraphs
                    then access specific data from the pet objects pointed to by the pet reference
                    also we should configure the models to accept many images of these animals so we can do carousel type image galeries

                also can someone figure out how to make the pets and comments centered without centering the text?
            
            -->
            <h2>Pets</h2>
            <div style="padding-left:2.5%">
                
                {% for pet in user.profile.pets.all %}
                <h5>
                    <p data-toggle="collapse" data-target="#demo{{pet.id}}" style  = "color:purple;cursor: pointer;">{{pet.name}}</p>
                        <div id="demo{{pet.id}}" class="collapse">
                            <img src="http://127.0.0.1:8000/pawpular/uploads/{{pet.image}}" width="400px">
                            <p>Birthday on <font color="blue">{{pet.birthday}}</font></p>
                        </div>
                </h5>
                {% endfor %}
                <p><a href="{% url 'pet_create' %}">Register a new pet!</a></p>
            </div>
            

            <br>
            <hr>
            
            <!--
                will need a for loop for this one

                i propose that the comments have a required date field.
                same deal with the pets. one to many relationship
                loop through the comments made by this particular user and display it in the following divs
                also include time posted.
            -->

            <div >
                <h2>Posts</h2>
                {% for post in user.profile.feedPosts.all %}
                    <!-- Left-aligned media object -->
                    <div style="padding-bottom:5%;padding-left:2.5%;">
                        <div class="media" >
                            <div class="media-body">
                                <h4 class="media-heading" style="padding-top:2%;"><a href="{{post.createdBy.get_absolute_url}}"> {{post.createdBy.fname}} {{post.createdBy.lname}} </a><!--span class="badge badge-secondary">New</span--></h4>
                                <h3>{{post.title}}</h3>   
                                <p>{{post.text}}</p> 
                                {% if post.image %}   
                                    <img src="http://127.0.0.1:8000/pawpular/uploads/{{post.image}}" class="media-object rounded" style="width:70px">
                                {% endif %}
                                <p>{{post.post}}</p>                                        
                                <p style = "color:blue">{{post.createdOn}}</p>
                                {% ifequal request.user post.createdBy.user %}
                                <div class="dropdown">
                                    <button class="btn-sm btn-secondary dropdown-toggle outline" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Edit Actions
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="{%url 'feedpost_edit' post.id%}">Edit</button>
                                        <a class="dropdown-item" href="#">Delete</a>
                                    </div>
                                </div>
                                {% endifequal %}
                                    
                            
                            </div>
                        </div>
                    </div>
                {% endfor %}      

            </div>
        </div>

{% endblock %}

        
                                     