{% extends "base_generic.html" %}
    {% block content %}
        <div style="padding-left:30%;padding-right:30%;padding-top:2.5%;padding-bottom:5%;">
            <header style="padding-bottom:2.5%;">
                <h1>Profile page</h1>
            </header>

            <div >
                
                    <img src="http://127.0.0.1:8000/pawpular/uploads/{{user.profile.image}}" class="rounded" height = "350px" width="300px">
                    <div class="card-body">
                    <h2 class="card-title">{{user.first_name}} {{user.last_name}}</h2>
                    <h3>{{user.email}}</h3>
                    <h3>{{user.profile.mapPosts.all}}</h3>
                    <h3>{{pet_amount}}</h3>
                    </div>

            </div>

            <hr>
            <br>

            <!--
                will need a for loop for this one
                if i were to imagine how this would go.../
                    the for loop would access all of ryan's pets (the one to many relationship)
                    and place them into the following paragraphs
                    then access specific data from the pet objects pointed to by the pet reference
                    also we should configure the models to accept many images of these animals so we can do carousel type image galeries

                also can someone figure out how to make the pets and comments centered without centering the text?
            
            -->
            
            <div>
                <h2>Pets</h2>
                {% for pet in user.profile.pets.all %}
                <h5>
                    <p>{{pet.name}}</p>
                        <div>
                            <img src="http://127.0.0.1:8000/pawpular/uploads/{{pet.image}}" width="400px">
                            <p>Birthday on {{pet.birthday}}</p>
                        </div>
                </h5> -->
                <p>{{pet.name}}</p>
                {% endfor %}
            </div>
            

            <br>
            <hr>
            
            <!--
                will need a for loop for this one

                i propose that the comments have a required date field.
                same deal with the pets. one to many relationship
                loop through the comments made by this particular user and display it in the following divs
                also include time posted.
            -->

            <div >
                <h2>Posts</h2>
                {% for post in user.feedPosts.all %}
                <div style="padding:2%;">
                    <div class="card" >
                        <div class="container">
                            <h5>{{post.title}}</h5>
                            <hr>
                            <p>{{post.text}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}      

            </div>
        </div>

{% endblock %}

        
                                     