{% extends "base_generic.html" %}

{% block content %}
        <div class="container">
            <h1 style="padding-top:2.5%;">Pet Services</h1>
            <div><a  class="button" href="{%url 'service_create' %}">Create a New Service Post</a></div>
            <br>
            <hr>
        </div>

        {% for service in servicepost_list %}
            <section style="padding:1%;">
                <div class="container">

                    <h2>{{service.title}} - <a style = "color:green">${{service.cost}}</a></h2>

                    <div class = "container">

                        <a href="#" onclick="return false;" data-toggle="popover" title="Contact:" data-content="{{service.createdBy.user.email}}">{{service.createdBy.user.first_name}} {{service.createdBy.user.last_name}}</a>
                        
                        <div>
                            <p>{{service.text}}</p>
                            <p><a style="color:blue">{{service.startDate}}</a> - <a style="color:red">{{service.endDate}}</a></p>
                        </div>

                    </div>
                    
                </div>
            </section>
        {% endfor %}
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
        </script>

 {% endblock %}