{% extends "base_generic.html" %}

{% block content %}
        <div class="container">
            <h1 style="padding-top:2.5%;">Pet Services</h1>
            <div><a  class="button" href="{%url 'service_create' %}">Create a New Service Post</a></div>
            <br>
            <hr>
        </div>

        {% for service in servicepost_list %}
            <section style="padding:1%;">
                <div class="container">

                    <h2>{{service.title}} - <a style = "color:green">${{service.cost}}</a></h2>

                    <div class = "container">

                        <a href="#" onclick="return false;" data-toggle="popover" title="Contact:" data-content="{{service.createdBy.email}}">{{service.createdBy.fname}} {{service.createdBy.lname}}</a>
                        
                        <div>
                            <p>{{service.text}}</p>
                            <p><a style="color:blue">{{service.startDate}}</a> - <a style="color:red">{{service.endDate}}</a></p>
                        </div>

                    </div>
                    
                </div>
            </section>
        {% endfor %}

        <!--


                in case we wish to revert back to what was previously here, out of respect for the work that was, it's commented out.
                personally i think it has a better organizational idea. i like how adoptions and pet sitting...etc are separated, but currently the model is not built to support this.
                            -s


            <h2>Adoption</h2>
            <ul>
                <li><a href="#">10 week old Golden Retriever to a good home</a></li>
                <li><a href="#">Seeking new home for baby bunnies</a></li>
                <li><a href="#">Puppies for adoption!</a></li>
                <li><a href="#">Looking to adopt kittens</a></li>
            </ul>
            <h2>Pet Sitting</h2>
            <ul>
                <li><a href="#">Offering pet sitting services! Availability varies!</a></li>
                <li><a href="#">Need a dog sitter? Give me a call!</a></li>
                <li><a href="#">Any and all pets welcome at pet daycare! Standard rates apply.</a></li>
                <li><a href="#">Looking for a sitter for pet dog, serious inquiries only!!</a></li>
              </ul>
            <h2>Dog Walking</h2>
            <ul>
                <li><a href="#">$10/hour dog walking service</a></li>
                <li><a href="#">I will walk your dog! Available Mon-Fri 8am-5pm</a></li>
                <li><a href="#">Seeking dog walking services for pet Husky</a></li>
            </ul>
            <h2>Pet Photography</h2>
            <ul>
                <li><a href="#">Professional photos of your favorite furry friends!</a></li>
                <li><a href="#">Looking for cute pictures of your pet? Look no further!</a></li>
                <li><a href="#">We photograph dogs, cats and bunnies! Come on in!</a></li>
            </ul>

        -->

        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
        </script>

 {% endblock %}