<html>
    <head>
        <meta charset="utf-8">
        <link href="style.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Pawpular</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'map' %}">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chat' %}">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'services' %}">Services</a>
                    </li>
                    <li class="active">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                    </li>
                </ul>
            </div>
        </nav>
            <div style="padding-left:20%;">
                    
                </div>

         <header>
                <h1>Ryan Mahan</h1>
        </header>



        <div class='row'>
          <div class='column'>
            <img src='pictures/ryan.jpg'></img>
            <h3> I love my four pets, Rabbert, Cabbert, Dabbert, and Crabbert.</h3>
          </div>
          <div class='column'>
            <h2>
              <li><a href="#">Ryan's bunny Rabbert</a></li>
              <li><a href="#">Ryan's cat Cabbert</a></li>
              <li><a href="#">Ryan's dog Dabbert</a></li>
              <li><a href="#">Ryan's Crocodile Crabbert</a></li>
            </h2>
          </div>
        </div>
        

        <section>
          <h1>Ryan's Posts</h1>
        </section>
        <section>
            <div class="card">
              <div class="container">
                  Crabbert bit me! Going to the hospital, wish me lu
              </div>
            </div>
            <div class='card'>
              <div class='container'>
                Going to feed my pets! Crabbert looks particularly hungry today.
              </div>
            </div>
          
        </section>
                                       

    </body>
    </html>