<html lang="en">
<head>
  {% block title %} <title>Pawpular</title> {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="http://127.0.0.1:8000/pawpular/uploads/favicon.png"/>
</head>


<body data-spy="scroll" data-target=".navbar">


  {% block navbar%}
  
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Pawpular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                    
            {% if user.is_authenticated %}
                <li {% if request.resolver_match.url_name == 'index' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'map' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'map' %}">Map</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'chat' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'chat' %}">Feed</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'services' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'services' %}">Services</a>
                    </li>
                    
                    <li {% if request.resolver_match.url_name == 'profile' %} class="active" {% endif %}>
                        <a class="nav-link" href={{user.profile.get_absolute_url}} >Profile</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'settings' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                    </li>
                    </ul>
                    
                    <ul class="navbar-nav mrl-auto">
                      <li class="navbar-text">User: {{ user.get_username }}</li>
                        <li class ="navbar-nav">
                          <a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
                        </li>
                    {% else %}
                      <li class="navbar-nav">
                          <a class = "nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
                        </li>
                    </ul>
                    {% endif %}
                    
 
        </div>
    </nav>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block js %}{% endblock %}
</body>

