<html lang="en">
<head>
  {% block title %} <title>Pawpular</title> {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 
</head>


<body data-spy="scroll" data-target=".navbar">


  {% block navbar%}
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pawpular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                    <li {% if request.resolver_match.url_name == 'index' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'map' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'map' %}">Map</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'chat' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'chat' %}">Feed</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'services' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'services' %}">Services</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'profile' %} class="active" {% endif %}>
                        <a class="nav-link" href="/pawpular/profile/36f1cfcd-ee16-41e2-a120-cb09a24b4e47">Profile</a>
                    </li>
                    <li {% if request.resolver_match.url_name == 'settings' %} class="active" {% endif %}>
                        <a class="nav-link" href="{% url 'settings' %}">Settings</a>
            </ul>
        </div>
    </nav>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block js %}{% endblock %}
</body>

