<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">




  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 
</head>
<body data-spy="scroll" data-target=".navbar">



  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Pawpular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'map' %}">Map</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="{% url 'chat' %}">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                </li>
            </ul>
        </div>
    </nav>









  <div class="container" style = "padding-left: 15%;padding-right:15%;padding-top:3%;padding-bottom:10%;">

      

    <div style="padding-bottom:5%;">
        <img src="pictures/4.jpg" class="rounded-circle" alt="Cinque Terre" width="300" height="250" style="margin-left:auto;margin-right:auto; display:block;">
        <h1 class = "title"> Doggo Doggo</h1>

        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <button type="button" class="btn btn-primary">Post</button>
            <button type="button" class="btn btn-primary">Add Photo</button>
          </div>
    </div>
      
      
      
      
      
      
      
      
      
      <!-- Left-aligned media object -->
      <div style="padding-bottom:5%;">
        <div class="media" >
              <div class="media-left media-0top">
              <img src="http://image.mlive.com/home/mlive-media/width620/img/entertainment_impact/photo/twiggy3jpg-61cc18c1903e28fc.jpg" class="rounded" style="width:80px">
          </div>
          <div class="media-body">
              <h4 class="media-heading">Water Ski Squirrel <span class="badge badge-secondary">New</span></h4>
              <p>Hold me closer tiny dancer. count the head lights on the highway. lay me down in sheets of linen. you had a busy day today.</p>


              <div style="padding-bottom:5%;padding-right:2%;">
                    <div class="media" >
                        <div class="media-left media-0top">
                            <img src="pictures/7.jpg" class="rounded" style="width:80px;">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Dug</h4>
                            <p>Squirrel!!!!!!</p>
            
            
                            <button type="button" class="btn btn-primary">Like</button>
                            <button type="button" class="btn btn-secondary">Hate</button>
                            <button type="button" class="btn btn-success">Comment</button>
            
            
                        </div>
                    </div>
                </div>

              <button type="button" class="btn btn-primary">Like</button>
              <button type="button" class="btn btn-secondary">Hate</button>
              <button type="button" class="btn btn-success">Comment</button>


          </div>
          
        </div>
    
      </div>

      <!-- Left-aligned media object -->
      <div style="padding-bottom:5%;">
        <div class="media" >
            <div class="media-left media-0top">
                <img src="https://www.thesun.co.uk/wp-content/uploads/2016/06/nintchdbpict000212879086.jpg?quality=100&w=960" class="rounded" style="width:80px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Left-aligned</h4>
                <p>PICS!!!!!.</p>





                <div id="demo" class="carousel slide" data-ride="carousel" style="padding-right: 10px;" >

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1"></li>
                      <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    
                    <!-- The slideshow -->
                    <div class="carousel-inner" style="background-color: lightgray;">
                      <div class="carousel-item active">
                        <img src="pictures/1.jpeg" alt="Los Angeles" width="100%" height="350">
                        <div class="carousel-caption">
                                <h3>Here's a caption!</h3>
                                <p>woof</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="pictures/2.jpg" alt="Chicago" width="100%" height="350">
                      </div>
                      <div class="carousel-item">
                        <img src="pictures/3.jpg" alt="New York" width="100%" height="350">
                      </div>
                    </div>
                    
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                  </div>




                  <button type="button" class="btn btn-primary">Like</button>
                  <button type="button" class="btn btn-secondary">Hate</button>
                  <button type="button" class="btn btn-success">Comment</button>



            </div>
        </div>
      </div>








      

      <!-- Left-aligned media object -->
      <div style="padding-bottom:5%;">
      <div class="media" >
          <div class="media-left media-0top">
              <img src="https://upload.wikimedia.org/wikipedia/commons/0/03/Vulpes_vulpes_laying_in_snow.jpg" class="rounded" style="width:80px">
          </div>
          <div class="media-body">
                <h4 class="media-heading">Foxy Fox: </h4>
                <p>Hey if any rabbits want to come tonight's potluck dinner, just show up we'll handle the rest!</p>
                


                <div style="padding-bottom:5%;padding-right:2%;" >
                        <div class="media" >
                            <div class="media-left media-0top">
                                <img src="https://www.thesun.co.uk/wp-content/uploads/2016/06/nintchdbpict000212879086.jpg?quality=100&w=960" class="rounded" style="width:80px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Judy Hopps</h4>
                                <p>Umm, I dont think that's a good idea</p>






                                <button type="button" class="btn btn-primary">Like</button>
                                <button type="button" class="btn btn-secondary">Hate</button>
                                <button type="button" class="btn btn-success">Comment</button>
                        </div>
                    </div>
                </div>

                <div style="padding-bottom:5%;padding-right:2%;" >
                        <div class="media" >
                            <div class="media-left media-0top">
                                <img src="pictures/6.jpg" class="rounded" style="width:80px">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Trust Me, I'm A Sheep</h4>
                                <p>Nah, I think you're fine!</p>

                                <button type="button" class="btn btn-primary">Like</button>
                                <button type="button" class="btn btn-secondary">Hate</button>
                                <button type="button" class="btn btn-success">Comment</button>
                        </div>
                    </div>
                </div>



            <button type="button" class="btn btn-primary">Like</button>
            <button type="button" class="btn btn-secondary">Hate</button>
            <button type="button" class="btn btn-success">Comment</button>



          </div>
      </div>
      </div>



    <!-- Left-aligned media object -->
      <div style="padding-bottom:5%;">
      <div class="media" >
          <div class="media-left media-0top">
              <img src="pictures/5.jpg" class="rounded" style="width:80px">
          </div>
          <div class="media-body">
              <h4 class="media-heading">Happy Dogo</h4>
              <p>Hey can someone tell me how much a brazillion is? is it like larger or smaller than a septillion?</p>

              <button type="button" class="btn btn-primary">Like</button>
              <button type="button" class="btn btn-secondary">Hate</button>
              <button type="button" class="btn btn-success">Comment</button>


          </div>
      </div>
      </div>



    <!-- Left-aligned media object -->
    <div style="padding-bottom:5%;">
        <div class="media" >
            <div class="media-left media-0top">
                <img src="https://www.thesun.co.uk/wp-content/uploads/2016/06/nintchdbpict000212879086.jpg?quality=100&w=960" class="rounded" style="width:80px;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Judy Hopps</h4>
                <p>12x12x12+1 = 9x9x9+10x10x10 = 1729. Wow who knew bunnies were good at multiplying!</p>


                <button type="button" class="btn btn-primary">Like</button>
                <button type="button" class="btn btn-secondary">Hate</button>
                <button type="button" class="btn btn-success">Comment</button>


            </div>
        </div>
    </div>

    </div>
            


</body>
</html>
<style>
    h1.title{
        margin: auto;
        text-align:center;
    }
    div.media{
        padding-top:1%;
        padding-left:1%;
        padding-bottom:5%;border:solid .5px;border-radius: 5px;
    }
    div.media-body{
        padding-bottom: 0%;
    }
    img{
        padding:2px;
    }
</style>