{% extends "base_generic.html" %}
    {% block content %}
         <header>
             <div class="card">
                    <div class="card-body">
                        <img src="http://127.0.0.1:8000/pawpular/uploads/logo.png"/>
                    </div>
                    <h1 style = "padding-top:5%;">Welcome to Pawpular!</h1>
                    <h2>CS 326's premire animal social media website!</h2>
                    
             </div>
                
        </header>
        <style>
            img{
                width:30em;
                height:10em;
            }
        </style>
    {% endblock %}