{% extends "base_generic.html" %}
    {% block content %}
         <header>
             <div class="card">
                    <div style="padding-top:2.5%;margin-right:auto;margin-left:auto;display:block;">
                        <img src="http://127.0.0.1:8000/pawpular/uploads/logo.png"/>
                    </div>
                    <h1 style = "text-align:center; padding-top:2.5%;">Welcome to Pawpular!</h1>
                    <h2 style = "text-align:center;">CS 326's Premier Animal Social Media Website!</h2>
                    <h3 style="text-align:center">Or the only one which vacuously makes that previous statement true.</h3>
        </header>
        <style>
            img{
                width:30em;
                height:10em;
            }
        </style>
    {% endblock %}